.section4{
    background: url("../../../assests/image/Rectangle\ 12.png");
    width: 1440px;
height: 711px;
margin-bottom: 70px;
}
.section4_pic{
    width: 624px;
height: 620px;
}
.section4_title{
    font-family: 'alice-regular';
    font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 46px;

text-transform: uppercase;


color: #000B0C;
}
.section4_text{
    width: 715px;
height: 200px;
left: 628px;
top: 143px;
display: flex;
align-items: flex-end;

font-family: 'Gilroy-Regular';
font-size: 18px;
line-height: 40px;

color: #000B0C;
}
.section4_list{
    width:690px;
    padding: 2%;
}
.section4_list li{
   list-style:disc;
   font-family: 'Gilroy-Regular';
font-size: 16px;
line-height: 40px;

color: #000B0C;
}
