
.box {
    font-style: normal;
    padding-left: 150px;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 150px;
}

.title{
    text-align:justify;
    width: 100%;
    font-size: 40px;
}
.sectionsContainer p{
    font-size: 20px;
    color: #000B0C;
    line-height: 38px;
    font-family: "Gilroy-Regular";
    text-align: left;
}
.sectionsContainer{
    padding: 0px 70px;
    margin-top: 200px;
}
@media only screen and (max-width: 900px) {

    .box {
        margin-top: 150px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 90%;
    }
    .box p{
        margin-left: 40px;

    }
}