.section2_text{
    width: 1240px;
height: 195px;

font-family: 'Gilroy-Regular';
font-size: 24px;
line-height: 40px;

text-align: center;

margin-bottom: 50px;
color: #000B0C;
}
.section2_title{
    width: 251px;
height: 46px;

font-family: 'alice-regular';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
margin-bottom: 30px;

text-transform: uppercase;


color: #000B0C;
}
.section2_pic{
    width: 333px;
    height: 190px;
    position: relative;
}
.section2_pic img{
    position: absolute;
    right: 0;
    width: 184.6px;
height: 184.6px;
}
.section2_pic p{
    position: absolute;
    bottom: -60px;
    left: 26%;
    width: 291px;
height: 53px;
font-family:  'alice-regular';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;

text-align: center;
text-transform: uppercase;

color: #000B0C;
}

.section2_pic__shadow{
    position: absolute;
    left: -79px;
    width: 332.48px;
height: 184.6px;
   background: url("../../../assests/image/Rectangle\ 49.png");
}
