.services_bg{
    background: linear-gradient(100.35deg, #02979D 7.72%, #00888D 92.28%);
border-radius: 100px;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 216px;
}
.services_bg img{
    transform: scale(0.4);
}

.services_bg:hover{
    background: #EDA12F;
}
.ZPattern_img{
}
.ZPattern_context h3{
    text-align: left;
}
.ZPattern_context{
}
.ZPattern_context p{
    width: 580px;
height: 360px;
text-align: left !important;
}
.ZPattern_context ul{
}
.ZPattern_context ul li{
    width: 583px;
font-family: 'Gilroy-Regular';
font-size: 19px;
line-height: 40px;
color: #000B0C;
}

@media only screen and (max-width:400px) {
    .services_bg{
        width: 80px;
        height: 120px;
    }
    
}

@media only screen and (max-width:1000px) {
    .ZPattern_img{
    }
    .ZPattern_context h3{
        margin-top: 8%;
        margin-bottom: 8%;
        width: 100%; 
        height: fit-content;
        text-align: center;
    }
    .ZPattern_context p{
        width: 100%;
        height: fit-content;
        text-align: center !important;
        
    }
    .ZPattern_context ul li{
        line-height: 30px;
        width: 100%;
        font-size: 13px;
        text-align: center;
    }
    .ZPattern_context ul{
        margin-bottom: 25%;
    }
    
}