.section3_context{
    width: 1241px;
height: 160px;
}
.section3_title{
    font-family: 'alice-regular';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 46px;


text-transform: uppercase;

color: #000B0C;
}
.section3_text{
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 40px;
    color: #000B0C;
    
}
.section3_card{
    width: 1241px;
height: 768px;
}
.card{
    width: 295px;
height: 482px;
position: relative;
}
.card_header{
    position: absolute;
    top: 20px;
    left: 31%;
    z-index: 2;
}
.card_context{
    width: 224px;
    height: 260px;
    position: absolute;
    top: 35%;
    left: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card_bg{
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.card_footer{
    position: absolute;
    bottom: 10px;
    left: 7.3%;
    z-index: 2;

}