.ul{
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 315px;
    color:#02979D;
    z-index: 999;
}
.li{
    background: white;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li:hover{
    background: rgba(255, 255, 255, 0.57);
}
