.sectionsContainer {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin: 0 auto;
    margin-top: 100px;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        direction: rtl;
    }
    .buttons button:first-child{
        margin-left: 25px;
    }
    
    .buttons button{
        width: 257px;
        height: 50px;
    }
    @media only screen and (max-width: 900px) {
        .buttons{
            display: block;
        }
        .buttons button:first-child{
            margin-left: 0px;
        }
        
        .buttons button{
            width: 257px;
            height: 50px;
        }
    }