.page2 .swiper{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    overflow-x: visible;
}
.page2 .swiper-wrapper{
    height: 310px;
}
.page2 .swiper-button-prev,
.page2 .swiper-button-next{
    background-color: #02979D;
    color: white;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top:5%;
    right: 40px;
}
.page2 .swiper-slide{
    display: flex;
    justify-content: center;
    width: 256px;
}
.page2 .swiper-button-prev::after,
.page2 .swiper-button-next::after{
    font-size: 15px;
    color: white;
}
.page2 .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 83%!important;
}
@media only screen and (min-width:1500px) {
    .page2 .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: 88%!important;
    }
    
}
@media only screen and (max-width: 1200px) {
    .page2 .swiper-button-prev,
    .page2 .swiper-button-next{
    top:-24%;
    right: 0px;
    width: 40px;
    height: 40px;
}
.page2 .swiper-button-prev::after,
.page2 .swiper-button-next::after{
    font-size: 10px;
}
.page2 .swiper-button-prev,.page2 .swiper-rtl .swiper-button-next{
    left: 84%!important;
}
.page2 .swiper{
    margin-top: 100px;
}
  }
  @media only screen and (max-width: 850px) {
    .page2 .swiper-button-prev,
    .page2 .swiper-button-next{
    width: 37px;
    height: 37px;
    top:-19%;
    right: 0px;
}
.page2 .swiper-button-prev,.page2 .swiper-rtl .swiper-button-next{
    left: 80%!important;
}
.page2 .swiper{
    justify-content: flex-start;
    height: 300px;
}

}
@media only screen and (max-width: 600px) {
    .page2 .swiper-button-prev,
    .page2 .swiper-button-next{
    width: 30px;
    height: 30px;
    top:-19%;
    right: 0px;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    padding: 0px;
    line-height: 0px!important;
}
.page2 .swiper-button-prev::after,
.page2 .swiper-button-next::after{
    font-size: 10px;
    
}
.page2 .swiper-button-prev,.page2 .swiper-rtl .swiper-button-next{
    left: 80%!important;
}
.page2 .swiper{
    padding-bottom: 100px;
}

  }
 