.bg_sec1{
    background: url("../../../../src/assests//image/Rectangle 4556.png");
    background-size:cover;
    position: relative;
    height: 520px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec1_title{
    /* position: absolute;
    top: 45%;
    left: 39%; */
    font-family: 'Alice';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* line-height: 73px; */
text-align: center;
text-transform: uppercase;
color: #FAFEFE;

}
.sec1_text{
    /* position: absolute;
    width: 1076px;
height: 182px;
left: 388px;
top: 681px; */
width: 85%;
padding: 2%;
margin-top: 5%;
align-self: center;
background: rgba(0, 11, 12, 0.2);
border: 1px solid #FAFEFE;
backdrop-filter: blur(4px);
color: #FAFEFE;

font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
}

.sec1_pic1{
    position: absolute;
    bottom:-50px;
    left: 35.5%;
    transform: scale(0.6);
}

@media only screen and (min-width: 500px){
    .bg_sec1{
        height: 920px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .sec1_title{
            position: relative;
            margin-top: 80px;
            font-size: 62px;
            width: 385px;
        }
        .sec1_text{
            font-size: 25px;
            width: 75%;
            line-height: 40px;
            height: fit-content;
        }
        .sec1_pic1{
            transform: scale(1);
            left: 47%;
        }
}
@media only screen and (min-width: 1700px){
}
/* @media only screen and (max-width: 600px){
    .bg_sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .sec1_title{
            position: relative;
            font-size: 18px;
            width: 150px;
        }
        .sec1_text{
            position: relative !important;
            left: 0px !important;
            top: 0px !important;
            font-size: 12px;
            width: 100px;
            height: fit-content;
        }
} */