.subscribe_card{
    width: 1240px;
height: 244px;

background: #EBF7F7;   
}
.subscribe_bg{
    display: flex;
    justify-content: center;
}
.subscribe_context{
    width: 506px;
    height: 100px;
}
.subscribe_inputfild{
    width: 688px;
    position: relative;
}
.inputFildebtn{
    position: absolute;
    right: 2%;
    bottom: 1px;
}
@media screen and (max-width:600px) {
    .subscribe_context{
        width: 100%;
    }
    .subscribe_inputfild{
        width: 90%;
    }
    .inputFildebtn{
        right: -1%;
    }
    
}