.slider3 .swiper{
    overflow: visible;
}
.slider3 .swiper-button-prev,
.slider3 .swiper-button-next{
    background-color: #02979D;
    color: white;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top:-36%;
    right: 0px;
}
.slider3 .swiper-button-prev::after,
.slider3 .swiper-button-next::after{
    font-size: 15px;
    color: white;
}
.slider3 .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 90%!important;
}
@media only screen and (max-width: 1200px) {
    .slider3 .swiper-button-prev,
    .slider3 .swiper-button-next{
    top:-22%;
    right: 0px;
}
.slider3 .swiper-button-prev::after,
.slider3 .swiper-button-next::after{
    font-size: 10px;
}
.slider3 .swiper-button-prev,.slider3 .swiper-rtl .swiper-button-next{
    left: 83%!important;
}
  }
  @media only screen and (max-width: 850px) {
    .slider3 .swiper-button-prev,
    .slider3 .swiper-button-next{
    width: 37px;
    height: 37px;
    top:-25%;
    right: 0px;
}
.slider3 .swiper-button-prev,.slider3 .swiper-rtl .swiper-button-next{
    left: 85%!important;
}
}
@media only screen and (max-width: 500px) {
    .slider3 .swiper-button-prev,
    .slider3 .swiper-button-next{
    width: 37px;
    height: 37px;
    top:-25%;
    right: 0px;
}
.slider3 .swiper-button-prev::after,
.slider3 .swiper-button-next::after{
    font-size: 10px;
}
.slider3 .swiper-button-prev,.slider3 .swiper-rtl .swiper-button-next{
    left: 80%!important;
}
  }
 