.container {
    background-image: url("../../../assests/image/backgroundpic1.png");
    width: 100%;
    height: 928px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
.box {
    width: 860px;
    height: 360px;
    background: url("../../../assests/image/Rectangle 4611.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
.box h1 {
    color: #eda12f;
    font-family: "alice-regular";
    font-size: 60px;
    text-align: center;
    font-weight: 400;
  }
.white_title{
    color: #fafefe !important;
}
.box p {
    width: 538px;
height: 120px;
text-align: center;
color: #fafefe;
font-family: "Gilroy-UltraLight";
font-size: 22px;
justify-content: center;
text-align: center;

}
/* .boxp {
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(255, 255, 255, 0.15);
padding: 10px 10px;
margin: 0 auto;
width: 80%;
margin-top: 10px;
} */
@media only screen and (max-width: 900px) {
.container {
background-image: url("../../../assests/image/backgroundsec1.png");
width: 100%;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;

}
.box {
width: 95%;
height: 500px;
border: 2px solid #eda12f;
margin-bottom: 180px;
padding: 20px 0px;
}
.box h1 {
color: #eda12f;
font-family: "alice-regular";
font-size: 50px;
text-align: center;
font-weight: 400;
margin-top: 30px;
}
.box p {
color: #fafefe;
font-family: "Gilroy-UltraLight";
font-size: 20px;
justify-content: center;

}
.boxp {
    padding: 10px 5px;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}
}
