.container {
  background-color: rgba(250, 254, 254, 1);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgba(2, 151, 157, 1), rgba(0, 136, 141, 1)) border-box;
  border-radius: 35px;
  border: 1px solid transparent;
  width: 1246px;
  height: 150px;
  margin: 0 auto;
}
