.box {
    font-style: normal;
    padding-left: 150px;

    max-width: 1800px;
    margin: 0 auto;
    margin-top: 212px;
}

.box img{
    margin-bottom: -175px;
}

.box p {
    color: #040C1A;
    margin-right: 150px;
    text-align: center;
}
.count{
    font-family: 'Gilroy-SemiBold';
    color:rgba(0, 11, 12, 1);
    font-size: 50px;
}
.title{
    font-family: "Gilroy-Light";
    font-size: 19px;
    color:rgba(0, 11, 12, 1);
}

@media only screen and (max-width: 900px) {

    .box {
        margin-top: 150px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 90%;
        transform: scale(0.9);
    }
    .box p{
        margin-left: 40px;

    }
    .box img{
        transform: scale(0.9);
        margin-bottom: -135px;
    }
    .count{
        font-family: 'Gilroy-SemiBold';
        color:rgba(0, 11, 12, 1);
        font-size: 35px;
    }
    .title{
        font-family: "Gilroy-Light";
        font-size: 15px;
        color:rgba(0, 11, 12, 1);
    }
}