.section1_headbg{
    background: url("../../../assests/image/Rectangle\ 45\ \(2\).png");
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
}
.section1{
    background: url("../../../assests/image/Group 1070.png");
    background-size: contain;
    position: relative;
    width: 100%;
    height: 728px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section1_title{
    width: 360px;
height: 219px;

font-family: 'Alice';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 73px;
text-transform: uppercase;
color: #FAFEFE;

}
.section1_text{
    width: 608px;
height: 120px;

font-family: 'Gilroy-Medium';
font-size: 24px;
line-height: 40px;

display: flex;
align-items: center;

color: #FAFEFE;
}