.container{
    margin-top: 120px!important;
    background-color: #ebf7f7de;
    height: auto;
}
.img{
    width: 100%;
    height: auto;
}
.list{
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.list .sublist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    font-size: 20px;
 
}
.li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7e8788;
    border-bottom: 1px solid #3aeff5;
    cursor: pointer;
    margin-top: 50px;
}
.li:hover{
    color:#D74E7F;
}
@media only screen and (max-width:600px){
    .sublist{
        width: 30%!important;
        font-size: 17px;
     
    }
    .container{
        margin-top: 100px!important;
    }
}