.card_bg{
    background: linear-gradient(100.35deg, #02979D 7.72%, #00888D 92.28%);
border-radius: 78.0016px;
    width: 160px;
height: 160px;
display: flex;
justify-content: center;
align-items: center;
}
.card_bg:hover{
    background: #EDA12F;
}

@media only screen and (max-width:400px) {
    .card_bg{
        width: 120px;
        height: 120px;
    }
    
}