.section1{
    width: 100%;
    height: 1250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Slider{
    width: 100%;
height: 928px;
}
.sliderItem1{
    background: url("../../../assests/image/Rectangle 44 2.png");
    width: 100%;
    height: 928px;
    background-size: cover;
}
.itemscontext{
    width: 660px;
height: 245px;
padding-left: 100px;
padding-top: 294px;
}
.itemscontext h3{
    font-family: 'alice-regular';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 60px;

text-transform: uppercase;

background: linear-gradient(100.35deg, #02979D 7.72%, #00888D 92.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.itemscontext h4{
    font-family: 'alice-regular';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
color: black;

text-transform: uppercase;

}

.itemscontext p{
    width: 538px;
    height: 120px;

    font-family: 'Gilroy-Regular';
    font-size: 24px;
    line-height: 40px;

    display: flex;
    align-items: center;


    color: #000B0C;
}
.showNumber{
    position: absolute;
    top: 910px;
}

.Item1,
.Item2,
.Item3,
.Item4{
    width: 360px;
height: 322px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5;
}
.Item1 h4,
.Item2 h4,
.Item3 h4,
.Item4 h4{
    width: 194px;
height: 79px;
text-align: center ;

font-family: 'Gilroy-Bold';
font-size: 64px;
line-height: 75px;
text-transform: uppercase;

color: #FFFFFF;
}
.Item1 p,
.Item2 p,
.Item3 p,
.Item4 p{
    width: 194px;
height: 58px;
text-align: center;
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.Item1{
background: url("../../../assests/image/Rectangle 48.png");
/* background-color: #02979D; */
}
.Item2{
    background: url("../../../assests/image/Rectangle 47.png");
    /* background-color: #02979D; */
}
.Item3{
    background: url("../../../assests/image/Rectangle 46.png");
    /* background-color: #02979D; */
}
.Item4{
    background: url("../../../assests/image/Rectangle 45.png");
    /* background-color: #02979D; */
}
.servicContext{
    margin-top: 50px;
    margin-bottom: 200px;
}
.servic1,
.servic2,
.servic3{
    width: 400px !important;
    height: 330px !important;
    background: #FAFEFE !important;
    border: 0.220113px solid rgba(2, 151, 157, 0.7) !important;
    box-shadow: 0px 1.69318px 42.3294px 1.69318px rgba(2, 151, 157, 0.1) !important;
    border-radius: 25.3977px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servic1pic,
.servic2pic,
.servic3pic{
    filter: invert(62%) sepia(93%) saturate(5178%) hue-rotate(166deg) brightness(102%) contrast(101%);
}
.servic1:hover,
.servic2:hover,
.servic3:hover{
    background: url("../../../assests//image//Union.png") !important;
    border: none !important;
    box-shadow: none !important;
}
.servic1:hover > .servic1pic,
.servic2:hover > .servic2pic,
.servic3:hover > .servic3pic{
    filter:  brightness(0) invert(1);
    /* filter: invert(0.5); */
    /* filter: invert(98%) sepia(100%) saturate(3%) hue-rotate(196deg) brightness(107%) contrast(100%); */
}
.section1_servicesTitle{
    margin-top: 150px;
    font-family: 'alice-regular';
    font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;

text-align: center;
text-transform: uppercase;

color: #000B0C;
}
.serviceContext{
    margin-top: 10%;
    display: flex;
    width: 1240px;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
   
}
.serviceContext p{
    width: 610px;
height: 374px;

font-family: 'Gilroy-Regular';
font-size: 21px;
line-height: 40px;
color: #000B0C;

}

@media only screen and (max-width:1200px) {
    .itemscontext{
        width: 100%;
        height:100%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .itemscontext h3,
    .itemscontext h4{
        text-align: center;
        font-weight: 400;
font-size: 36px;
line-height: 36px;
    }
    .itemscontext p{
        font-size: 14px;
line-height: 24px;
text-align: center;
width: 309px;
height: 72px;
    }
    .sliderItem1{
        background: url("../../../assests/image/Rectangle 44.png");
        background-size: cover;
    }
    .section1{
        height: 2300px;
    }
    .section1_2{
       width: 100%;
       height: fit-content;
    }
    .servic1,
.servic2,
.servic3{
    width: 100% !important;
height: 250px !important;
}
.serviceContext{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.serviceContext p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    font-size: 14px;
line-height: 24px;
}
}