.button-container {
    width: 172px;
    height: 47px;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(2, 151, 157, 1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    color: #fafafa;
    font-family: "Gilroy-bold";
    font-style: normal;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin-top: 20px;
  }
  
  .button-container:hover {
    transform: scale(1.1);
    
  }
  
  