.ZPattern_context h3{
    width: 538px;
height: 42px;
font-family: 'Alice';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 42px;
text-transform: uppercase;
color: #000B0C;
}
.ZPattern_context p{
    width: 567px;
height: 476px;
font-family: 'Gilroy-Regular';
font-size: 20px;
line-height: 40px;
color: #000B0C;
}
@media only screen and (max-width:1000px) {
    .css-1vnbi0q{
        padding: 0;
    }
    .ZPattern_img{
       width: 320px;
    }
    .ZPattern_context h3{
        font-size: 18px;
        width: 320px;
        text-align: center;
    }
    .ZPattern_context p{
        width: 300px;
        padding-left: 5%;
        margin-bottom: 15%;
        text-align: center;
        font-size: 12px;
    }
}