
.box {
    font-style: normal;
    padding-left: 150px;
    max-width: 1800px;
    margin: 0 auto;

}
.img{
    width: 90%;
}
.sectionsContainer p{
    font-size: 20px;
    color: #000B0C;
    line-height: 38px;
    font-family: "Gilroy-Regular";
    text-align: left;
}
.sectionsContainer{
    padding: 0px 70px;
    margin-top: 200px;
}
@media only screen and (max-width: 1200px) {
    .sectionsContainer p , .sectionsContainer h2{
        text-align: center;
    }
}
@media only screen and (max-width: 900px) {

    .box {
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%;
    }
    .box p{
        margin-left: 40px;
       
    }
    .sectionsContainer{
        padding: 0px;
        margin-top: 0px;
    }
    .sectionsContainer p{
        text-align: center;
        line-height: 26px;
    }
    .img{
        width:100%!important;
    }
}